<div class="interface-wrapper">
  <div class="info-panel">
    <div class="user-info">
      <div class="user-item interface-item" data-name="3umb1ebee's Page">
        <img src="images/avatar1.png">
      </div>
      <div class="user-item interface-item" data-name="1nev3rknew's Page">
        <img src="images/avatar2.png">
      </div>
      <div class="user-item interface-item" data-name="asing1elife's Page">
        <img src="images/avatar3.png">
      </div>
    </div>
    <div class="system-info">
      <div class="system-time">9:07</div>
      <div class="system-wifi"><i class="fa fa-wifi"></i></div>
      <div class="system-battery"><i class="fa fa-battery"></i></div>
    </div>
  </div>
  <div class="content-panel">
    <div class="game-panel"></div>
    <div class="operate-panel">
      <div class="operate-item interface-item" data-type="news" data-name="News">
        <i class="fa fa-commenting-o"></i>
      </div>
      <div class="operate-item interface-item" data-type="shop" data-name="Nintendo eShop">
        <i class="fa fa-shopping-bag"></i>
      </div>
      <div class="operate-item interface-item" data-type="album" data-name="Album">
        <i class="fa fa-picture-o"></i>
      </div>
      <div class="operate-item interface-item" data-type="controller" data-name="Controllers">
        <i class="fa fa-gamepad"></i>
      </div>
      <div class="operate-item interface-item" data-type="setting" data-name="System Settings">
        <i class="fa fa-cog"></i>
      </div>
      <div class="operate-item interface-item" data-type="power" data-name="Sleep Mode">
        <i class="fa fa-power-off"></i>
      </div>
    </div>
  </div>
  <div class="tip-panel"></div>
</div>